USE [dbpokedex]
GO
/****** Object:  Table [dbo].[base]    Script Date: 4/18/2021 2:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[base](
	[id] [int] NOT NULL,
	[hp] [tinyint] NOT NULL,
	[attack] [tinyint] NOT NULL,
	[defense] [tinyint] NOT NULL,
	[sp_attack] [tinyint] NOT NULL,
	[sp_defense] [tinyint] NOT NULL,
	[speed] [tinyint] NOT NULL,
	[pokemon_id] [int] NOT NULL,
 CONSTRAINT [pk_base] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[move]    Script Date: 4/18/2021 2:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[move](
	[id] [int] NOT NULL,
	[name] [varchar](45) NOT NULL,
	[accuracy] [int] NULL,
	[category] [varchar](45) NULL,
	[power] [varchar](45) NULL,
	[pp] [varchar](45) NULL,
	[type_id] [int] NOT NULL,
 CONSTRAINT [pk_move] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pokemon]    Script Date: 4/18/2021 2:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pokemon](
	[id] [int] NOT NULL,
	[name] [varchar](45) NOT NULL,
 CONSTRAINT [pk_pokemon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pokemon_type]    Script Date: 4/18/2021 2:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pokemon_type](
	[pokemon_id] [int] NOT NULL,
	[type_id] [int] NOT NULL,
 CONSTRAINT [pk_pokemon_type] PRIMARY KEY CLUSTERED 
(
	[pokemon_id] ASC,
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type]    Script Date: 4/18/2021 2:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[id] [int] NOT NULL,
	[name] [varchar](45) NOT NULL,
 CONSTRAINT [pk_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[base] ([id], [hp], [attack], [defense], [sp_attack], [sp_defense], [speed], [pokemon_id]) VALUES (1, 45, 49, 49, 65, 65, 45, 1)
INSERT [dbo].[base] ([id], [hp], [attack], [defense], [sp_attack], [sp_defense], [speed], [pokemon_id]) VALUES (2, 60, 62, 63, 80, 80, 60, 2)
INSERT [dbo].[base] ([id], [hp], [attack], [defense], [sp_attack], [sp_defense], [speed], [pokemon_id]) VALUES (3, 80, 82, 83, 100, 100, 80, 3)
GO
INSERT [dbo].[move] ([id], [name], [accuracy], [category], [power], [pp], [type_id]) VALUES (1, N'Pound', 100, N'??', N'40', N'35', 1)
INSERT [dbo].[move] ([id], [name], [accuracy], [category], [power], [pp], [type_id]) VALUES (2, N'Karate Chop', 100, N'??', N'50', N'25', 2)
INSERT [dbo].[move] ([id], [name], [accuracy], [category], [power], [pp], [type_id]) VALUES (3, N'Double Slap', 85, N'??', N'15', N'10', 1)
GO
INSERT [dbo].[pokemon] ([id], [name]) VALUES (1, N'Bulbasaur')
INSERT [dbo].[pokemon] ([id], [name]) VALUES (2, N'Ivysaur')
INSERT [dbo].[pokemon] ([id], [name]) VALUES (3, N'Venusaur')
GO
INSERT [dbo].[pokemon_type] ([pokemon_id], [type_id]) VALUES (1, 4)
INSERT [dbo].[pokemon_type] ([pokemon_id], [type_id]) VALUES (1, 12)
INSERT [dbo].[pokemon_type] ([pokemon_id], [type_id]) VALUES (2, 4)
GO
INSERT [dbo].[type] ([id], [name]) VALUES (1, N'Normal')
INSERT [dbo].[type] ([id], [name]) VALUES (2, N'Fighting')
INSERT [dbo].[type] ([id], [name]) VALUES (3, N'Flying')
GO
ALTER TABLE [dbo].[base]  WITH CHECK ADD  CONSTRAINT [FK_base_pokemon] FOREIGN KEY([pokemon_id])
REFERENCES [dbo].[pokemon] ([id])
GO
ALTER TABLE [dbo].[base] CHECK CONSTRAINT [FK_base_pokemon]
GO
ALTER TABLE [dbo].[move]  WITH CHECK ADD  CONSTRAINT [FK_move_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[type] ([id])
GO
ALTER TABLE [dbo].[move] CHECK CONSTRAINT [FK_move_type]
GO
ALTER TABLE [dbo].[pokemon_type]  WITH CHECK ADD  CONSTRAINT [FK_pokemon_type_pokemon] FOREIGN KEY([pokemon_id])
REFERENCES [dbo].[pokemon] ([id])
GO
ALTER TABLE [dbo].[pokemon_type] CHECK CONSTRAINT [FK_pokemon_type_pokemon]
GO
ALTER TABLE [dbo].[pokemon_type]  WITH CHECK ADD  CONSTRAINT [FK_pokemon_type_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[type] ([id])
GO
ALTER TABLE [dbo].[pokemon_type] CHECK CONSTRAINT [FK_pokemon_type_type]
GO
